In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
0,0,Tiruchchendur,IN,8.48,78.12,81.25,71,100,12.66,moderate rain,1.2,0
1,1,Yellowknife,CA,62.46,-114.35,64.40,45,40,5.82,scattered clouds,0.0,0
2,2,College,US,64.86,-147.80,57.99,76,90,2.42,overcast clouds,0.0,0
3,3,Bulawayo,ZW,-20.15,28.58,55.13,62,48,14.74,scattered clouds,0.0,0
4,4,Ushuaia,AR,-54.80,-68.30,41.00,75,40,8.05,scattered clouds,0.0,0

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 89

In [4]:
# Ask the customer to add raining and snowing preferences.
rain_input = str(input("Do you want it to be raining? (yes/no) "))
snow_input = str(input("Do you want it to be snowing? (yes/no) "))

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [5]:
# Filter the dataset to find the cities that fit the criteria.
if rain_input == "yes" and snow_input =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] > 0) & \
                                           (city_data_df["Snow (Inches)"] > 0)]   
elif rain_input == "yes" and snow_input =="no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] > 0) & \
                                           (city_data_df["Snow (Inches)"] == 0)] 
elif rain_input == "no" and snow_input =="no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] == 0) & \
                                           (city_data_df["Snow (Inches)"] == 0)] 
elif rain_input == "no" and snow_input =="yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Rain (Inches)"] == 0) & \
                                           (city_data_df["Snow (Inches)"] > 0)]
else:
    print("Please enter either yes or no response")

In [6]:
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
1,1,Yellowknife,CA,62.46,-114.35,64.40,45,40,5.82,scattered clouds,0.0,0
2,2,College,US,64.86,-147.80,57.99,76,90,2.42,overcast clouds,0.0,0
3,3,Bulawayo,ZW,-20.15,28.58,55.13,62,48,14.74,scattered clouds,0.0,0
6,6,Katsuura,JP,35.13,140.30,75.20,100,75,10.29,mist,0.0,0
10,10,Puerto Ayora,EC,-0.74,-90.35,71.01,89,89,5.01,overcast clouds,0.0,0
12,12,Werder,DE,52.38,12.93,61.00,84,88,5.39,overcast clouds,0.0,0
15,15,Castro,BR,-24.79,-50.01,57.97,93,100,6.93,overcast clouds,0.0,0
17,17,Mairana,BO,-18.12,-63.93,56.30,79,56,4.36,broken clouds,0.0,0
18,18,Oriximina,BR,-1.77,-55.87,85.06,68,54,3.22,broken clouds,0.0,0
20,20,Atuona,PF,-9.80,-139.03,79.54,77,7,13.65,clear sky,0.0,0

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and current weather description.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Yellowknife,CA,64.40,scattered clouds,62.46,-114.35,
2,College,US,57.99,overcast clouds,64.86,-147.80,
3,Bulawayo,ZW,55.13,scattered clouds,-20.15,28.58,
6,Katsuura,JP,75.20,mist,35.13,140.30,
10,Puerto Ayora,EC,71.01,overcast clouds,-0.74,-90.35,
12,Werder,DE,61.00,overcast clouds,52.38,12.93,
15,Castro,BR,57.97,overcast clouds,-24.79,-50.01,
17,Mairana,BO,56.30,broken clouds,-18.12,-63.93,
18,Oriximina,BR,85.06,broken clouds,-1.77,-55.87,
20,Atuona,PF,79.54,clear sky,-9.80,-139.03,

In [8]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [9]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Yellowknife,CA,64.40,scattered clouds,62.46,-114.35,The Explorer Hotel
2,College,US,57.99,overcast clouds,64.86,-147.80,Pike's Waterfront Lodge
3,Bulawayo,ZW,55.13,scattered clouds,-20.15,28.58,4 On Housman Backpackers
6,Katsuura,JP,75.20,mist,35.13,140.30,Katsuura Hotel Mikazuki
10,Puerto Ayora,EC,71.01,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
12,Werder,DE,61.00,overcast clouds,52.38,12.93,Landhotel Potsdam
15,Castro,BR,57.97,overcast clouds,-24.79,-50.01,CHACARA BAILLY
17,Mairana,BO,56.30,broken clouds,-18.12,-63.93,Mi Terruño
18,Oriximina,BR,85.06,broken clouds,-1.77,-55.87,Pousada Tia Amélia
20,Atuona,PF,79.54,clear sky,-9.80,-139.03,Villa Enata

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

In [15]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the WeatherPy_vacation into a CSV.
hotel_df.to_csv(output_data_file)